<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.DailyCallerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyCaller"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.tsciences.dailycaller.android.notification.NotificationServiceExtension"
            android:value="com.tsciences.dailycaller.android.notification.NotificationServiceExtension" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FF00FF00" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.tsciences.dailycaller.android.services.CastOptionsProvider" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1610338282405979~5044950187" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.newsDetail.NewsDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.menu.LocalPlayerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.menu.FullScreenPlayerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.newsDetail.SlideShowActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.menu.MenuSectionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />
        <activity
            android:name=".ui.deepLinking.DeepLinkingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="daliycaller"
                    android:pathPrefix="/"
                    android:scheme="open" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.comment.CommentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.networknotfound.NetworkNotFoundActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller" />

        <activity
            android:name=".ui.menu.ExpandedControlsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DailyCaller">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.menu.MenuSectionActivity" />
        </activity>
    </application>

</manifest>